<!DOCTYPE html>
<html>
<head>
    <meta lang="es" />
    <title>ONPE - Oficina Nacional de Procesos Electorales</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    
    <link href="~/content/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/content/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/content/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    <header>
        <!-- Layout de la cabecera -->
        <div class="container">
            <div class="pull-left logo-onpe">
                <a href="@Url.Action("Index", "Home")"><img src="~/content/images/onpe-trans.png" alt="ONPE Logo" /></a>
            </div>
            <div class="pull-left">
                <h1>PRESENTACION DE LOS RESULTADOS</h1>
            </div>
            <div class="pull-right logo">
                <img src="~/content/images/eegg2016-trans.png" alt="Logo" width="218" height="35">
            </div>
        </div>
    </header>

    <!-- Acceder al resto de opciones -->
    @{
        string controlador = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
        string bannerImg = (controlador == "Participacion") ? "f-participacion.jpg" : "f-actas.jpg";
    }
    @if (controlador != "Home")
    {
        <!-- Imagen de fondo -->
        <div class="container mg30top">
            <img src="~/content/images/@bannerImg" width="1170" height="248" class="img-responsive" alt="Banner ONPE">

            <section class="menu navbar-default menu05" style="margin-bottom: 20px;">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            
                <nav class="navbar-collapse bs-navbar-collapse collapse" aria-expanded="false">
                    <ul class="nav navbar-nav" style="width: 100%; display: flex;">
                    
                        <li class="bt-azul @(controlador == "Presidencial" ? "act-azul" : "")" style="flex: 1; text-align: center;">
                            <a href="@Url.Action("Index", "Presidencial")">PRESIDENCIAL</a>
                        </li>
                    
                        <li class="bt-amarillo @(controlador == "Acta" ? "act-amarillo" : "")" style="flex: 1; text-align: center;">
                            <a href="@Url.Action("Ubigeo", "Acta")">ACTAS</a>
                        </li>
                    
                        <li class="bt-rojo @(controlador == "Participacion" ? "act-rojo" : "")" style="flex: 1; text-align: center;">
                            <a href="@Url.Action("Inicial", "Participacion")">PARTICIPACIÓN CIUDADANA</a>
                        </li>

                    </ul>
                </nav>
            </section>
        </div>
        }

    @RenderBody()
    
    <!-- Layout de pie de pagina -->
    <footer class="@(ViewData["FooterClass"] ?? "footer-inside")">
        <div class="container">
            <div class="row">
                <div class="col-md-12 direc01">
                    <span>CONTÁCTENOS</span>
                    <p>Jr. Washington 1894, Cercado de Lima </p>
                    <p>Correo electrónico: <a href="#">informes@onpe.gob.pe</a></p>
                    <p>Central Telefónica: 417 - 0630 / Lunes a Viernes 08:30 - 16:30 hrs</p>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
